        /* 
        @media (min-width: 768px) {
            .bd-navbar {
                position: sticky;
                top: 0;
                z-index: 1071;
            }

            .side-nav {
                position: sticky;
                top: 4.2rem;
                z-index: 1000;
            }
        } */

        .navbar {
            justify-content: start;
            /* background-color: #171a21; */
            /* background-color: #2d354b; */
            background: linear-gradient(to right, #303542, #171a21);
        }

        .navbar div {
            /* color: #bebcba; */
            color: #ccc9c6;
            font-weight: 600;
            font-size: 1.1rem;
        }

        .navbar-nav .nav-link {
            color: #ccc9c6 !important;
            font-weight: 600;
            /* font-size: 1.1rem; */
        }

        .navbar-nav .nav-item {
            cursor: pointer;
        }

        .navbar-nav div:hover {
            background-color: #93979e;
            color: #ffffff !important;
        }

        .navbar-nav a:hover {
            background-color: #93979e;
            color: #ffffff !important;
        }

        .navbar-brand img {
            width: 40px;
        }

        .navbar-toggler-icon {
            background-image: url("https://steamstore-a.akamaihd.net/public/shared/images/responsive/header_menu_hamburger.png") !important;
            z-index: 999;
        }

        /* .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        } */

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(190,188,186)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
        }

        /* .navbar-toggler {
            border-color: rgb(#bebcba) !important;
        } */

        button {
            outline: none !important;
        }

        .main .col-xl-10 {
            /* background: linear-gradient(#1B374B, #1B2838); */
            height: calc(100vh - 66.61px);
/*             background-image: url('<%=request.getContextPath()%>/images/back-end/bg05.jpg'); */
            background-repeat: no-repeat;
            background-position:54% 50%;
            background-size: cover;
        }

        .main .nav-link {
            padding: .5rem 0rem;
        }

        .main .col-xl-2 {
            /* background: linear-gradient(#253865, #253967); */
            /* background-color: #2d354b; */
            background: linear-gradient(#303542, #171a21);
        }

        .side-nav .navbar-nav {
            width: 100%;
        }

        .side-nav li {
            width: 100%;
        }

        .mask{
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
        }

        /* 
        .side-nav a:hover {
            background-color: #93979e;
            color: #ffffff !important;
        } */
        /* .side-nav a:focus {
            background-color: #93979e;
            color: #ffffff !important;
        } */

        /* .side-nav a:visited {
            background-color: #93979e;
            color: #ffffff !important;
        } */
        /* .side-nav a:not(.focus) {
            background-color: #224177;
            color: #880a0a !important;
        } */

        /* .side-nav a { 
            text-align: center;
         }  */

        @media (min-width: 991px) {
            .navbar-collapse {
                display: -ms-flexbox !important;
                display: flex !important;
                -ms-flex-preferred-size: auto;
                flex-basis: auto;
            }

            .bd-navbar {
                position: sticky;
                top: 0;
                z-index: 1071;
            }

            .side-nav {
                position: sticky;
                top: 4.2rem;
                z-index: 1000;
            }
        }

        @media (max-width: 991px) {
            /* .side-nav a {
                text-align: left;
            }
            .navbar-nav li{
                z-index: 99;
            } */
        }
    aside {
        position: sticky;
        top: 4.59rem;
        z-index: 1000;
        height: calc(100vh - 4.59rem);
    }