<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="false">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<!-- jstl -->
  <jsp-config>
  	<taglib>
  		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
  		<taglib-location>/WEB-INF/c.tld</taglib-location>
  	</taglib>
  	
  	<taglib>
  		<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
  		<taglib-location>/WEB-INF/fmt.tld</taglib-location>
  	</taglib>
  </jsp-config>
<!-- jstl --> 
  
  
<!-- 連線池 -->
     <resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
<!-- 連線池 -->
	
<!-- 會員 + 討論區 -->

	<servlet>
		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>com.member.controller.MemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>/member/member.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>com.post.controller.PostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/post/post.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CommServlet</servlet-name>
		<servlet-class>com.comm.controller.CommServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommServlet</servlet-name>
		<url-pattern>/comm/comm.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FavpostServlet</servlet-name>
		<servlet-class>com.favpost.controller.FavpostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FavpostServlet</servlet-name>
		<url-pattern>/favpost/favpost.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PtypeServlet</servlet-name>
		<servlet-class>com.ptype.controller.PtypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PtypeServlet</servlet-name>
		<url-pattern>/ptype/ptype.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowMemberPic</servlet-name>
		<servlet-class>com.member.controller.ShowMemberPic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowMemberPic</servlet-name>
		<url-pattern>/member/ShowMemberPic.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowPostPic</servlet-name>
		<servlet-class>com.post.controller.ShowPostPic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowPostPic</servlet-name>
		<url-pattern>/post/ShowPostPic.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckServlet</servlet-name>
		<servlet-class>com.member.controller.CheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/member/check.do</url-pattern>
	</servlet-mapping>
	
<!-- 會員 + 討論區 -->

<!-- 競標區 -->
 
  	<servlet>
		<servlet-name>AuctServlet</servlet-name>
		<servlet-class>com.auct.controller.AuctServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuctServlet</servlet-name>
		<url-pattern>/auct/auct.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Auct_pic</servlet-name>
		<servlet-class>com.auct.controller.Auct_pic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Auct_pic</servlet-name>
		<url-pattern>/auct/pic.do</url-pattern>
	</servlet-mapping>
	
<!-- 競標區 -->

<!-- 直購區 -->

	<servlet>
	    <servlet-name>ImmedServlet</servlet-name>
	    <servlet-class>com.immed.controller.ImmedServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
	  <servlet-name>ImmedServlet</servlet-name>
	  <url-pattern>/immed/immed.do</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>ImmedPicRead</servlet-name>
	  <servlet-class>com.immed.model.ImmedPicReader</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>ImmedPicRead</servlet-name>
	  <url-pattern>/immed/ImmedPicRead</url-pattern>
	</servlet-mapping>
	
<!-- 直購區 -->

<!-- 商城 -->

	<servlet>
		<servlet-name>ProServlet</servlet-name>
		<servlet-class>com.product.controller.ProServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ProServlet</servlet-name>
		<url-pattern>/product/pro.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProPic</servlet-name>
		<servlet-class>com.product.controller.ProPic</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ProPic</servlet-name>
		<url-pattern>/product/proPic.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShopCartPic</servlet-name>
		<servlet-class>com.shopCart.controller.ShopCartPic</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ShopCartPic</servlet-name>
		<url-pattern>/shopCart/ShopCartPic.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FavpServlet</servlet-name>
		<servlet-class>com.favouriteProduct.controller.FavpServlet</servlet-class>
	</servlet>        
	
	<servlet-mapping>
		<servlet-name>FavpServlet</servlet-name>
		<url-pattern>/favouriteProduct/favp.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		    <servlet-name>ShopCartServlet</servlet-name>
		    <servlet-class>com.shopCart.controller.ShopCartServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
		    <servlet-name>ShopCartServlet</servlet-name>
		    <url-pattern>/shopCart/Shopping.do</url-pattern>
	  </servlet-mapping>
	  
	  <servlet>
		    <servlet-name>PoServlet</servlet-name>
		    <servlet-class>com.productOrder.controller.PoServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
		    <servlet-name>PoServlet</servlet-name>
		    <url-pattern>/productOrder/Po.do</url-pattern>
	  </servlet-mapping>

<!-- 商城 -->	

<!-- 紅利商城 -->

	<servlet>
		<servlet-name>BMServlet</servlet-name>
		<servlet-class>com.BounsMall.controller.BMServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BMServlet</servlet-name>
		<url-pattern>/BounsMall/BounsMall.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>com.BounsMall.controller.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/BounsMall/ImageServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BOServlet</servlet-name>
		<servlet-class>com.BounsOrder.controller.BOServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BOServlet</servlet-name>
		<url-pattern>/BounsOrder/BounsOrder.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FBServlet</servlet-name>
		<servlet-class>com.FavoriteBouns.controller.FBServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FBServlet</servlet-name>
		<url-pattern>/FavoriteBouns/FBServlet.do</url-pattern>
	</servlet-mapping>
	
<!-- 紅利商城 -->

<!-- 員工 + 檢舉 -->

	<servlet>
		<servlet-name>PsacServlet</servlet-name>
		<servlet-class>com.psac.controller.PsacServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PsacServlet</servlet-name>
		<url-pattern>/psac/psac.do</url-pattern>
    </servlet-mapping>
     
	<servlet>
		<servlet-name>AdmServlet</servlet-name>
		<servlet-class>com.adm.controller.AdmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmServlet</servlet-name>
		<url-pattern>/adm/adm.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeatServlet</servlet-name>
		<servlet-class>com.feat.controller.FeatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeatServlet</servlet-name>
		<url-pattern>/feat/feat.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>com.auth.controller.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/auth/auth.do</url-pattern>
	</servlet-mapping>

<!-- 員工 + 檢舉 -->

<!-- 團購 -->

	<servlet>
		<servlet-name>GroupBuyServlet</servlet-name>
		<servlet-class>com.groupBuy.controller.GroupBuyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupBuyServlet</servlet-name>
		<url-pattern>/groupBuy/groupbuy.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RebateServlet</servlet-name>
		<servlet-class>com.rebate.controller.RebateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RebateServlet</servlet-name>
		<url-pattern>/rebate/rebate.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Gro_memServlet</servlet-name>
		<servlet-class>com.gro_mem.controller.Gro_memServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Gro_memServlet</servlet-name>
		<url-pattern>/gro_mem/gro_mem.do</url-pattern>
	</servlet-mapping>
       
     <servlet>
		<servlet-name>Favourite_groServlet</servlet-name>
		<servlet-class>com.favourite_gro.controller.Favourite_groServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Favourite_groServlet</servlet-name>
		<url-pattern>/favourite_gro/favourite_gro.do</url-pattern>
	</servlet-mapping>
	
     <servlet>
		<servlet-name>Gro_orderServlet</servlet-name>
		<servlet-class>com.gro_order.controller.Gro_orderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Gro_orderServlet</servlet-name>
		<url-pattern>/back-end/gro_order/Gro_order.do</url-pattern>
	</servlet-mapping>

<!-- 團購 -->

<!-- 訊息 + Q&A -->

	<servlet>
		<servlet-name>CustomerMessageServlet</servlet-name>
		<servlet-class>com.CustomerMessage.controller.CustomerMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerMessageServlet</servlet-name>
		<url-pattern>/CustomerMessage/CustomerMessage.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.CustomerMessage.controller.picture</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/CustomerMessage/pic.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>QuestionServlet</servlet-name>
		<servlet-class>com.question.controller.QuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionServlet</servlet-name>
		<url-pattern>/Question/Question.do</url-pattern>
	</servlet-mapping>

<!-- 訊息 + Q&A -->

<!-- 團購監聽器 -->

	<listener>
		<listener-class>com.timerUtil.ListenerUtil</listener-class>
	</listener>

<!-- 團購監聽器 -->
	
<!-- 會員登入 + 會員登入濾器 -->

	<servlet>
		<servlet-name>LoginHandler</servlet-name>
		<servlet-class>com.member.controller.LoginHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginHandler</servlet-name>
		<url-pattern>/member/login.do</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>MemberLoginFilter</filter-name>
		<filter-class>com.member.filter.MemberLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MemberLoginFilter</filter-name>
		<url-pattern>/front-end/protected/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
<!-- 會員登入 + 會員登入濾器 -->

<!-- 員工登入濾器 -->

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.adm.logincontroller.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/back-end/protected/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

<!-- 員工登入濾器 -->
	
</web-app>